#make_flex{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    margin-top: 2rem;
}
.center{
    text-align: center;
    margin-top: 4rem;
}