.subbody {
}

.container {
  width: 60%;
  padding: 0 10rem;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-top: 0rem;
}

.blue {
  font-size: 32px;
  text-align: center;
  margin-top: 4rem;
  color: rgb(19, 19, 89);
}

.center {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.steps {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 60%;
  margin: 0 auto;
}

.steps div {
    display: flex;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
 
}

.car-form {
    margin-top: 1rem;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.car-form h2 {
  margin-bottom: 10px;
}

.car-form label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

.car-form input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.car-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.car-form button:hover {
  background-color: #0056b3;
}

.upload-section {
  border: 1px dashed #1f4004;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  margin: 2rem auto;
  width: 85%;
}

.upload-section h2 {
  margin-bottom: 20px;
}

.upload-section input[type="file"] {
  display: block;
  margin: 10px auto;
}

.upload-section p {
  margin: 10px 0;
  display: flex;
  width: 50%;
  margin: 0 auto;
  align-items: center;
  margin-top: 2rem;
}

.photos-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  border: none;
}

.photos-preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}



.submit_button{
    display: inline;
    margin: 0 auto;
}
