#carouselExampleControls{
    width: 50vw;
    font-family: "Poppins", sans-serif;
}
#carouselExampleControls h1,h2, h3,h4, h5, h6{
    font-family: "Poppins", sans-serif;
}
#carouselExampleControls .carousel-inner{
    height: 80vh;
}
.bold{
    font-weight: 700;
}
#carouselExampleControls h1{
    margin-top: 0.5rem;
    font-size: 36px;
}
.detail_box{
    border: 1px solid rgb(209, 219, 227);
    margin-top: 2rem;
    padding: 1rem;
    width: 60%;
    margin-left: 5rem;
}
.detail_box2{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
   
}
.child2 h1,h2, h3,h4, h5, h6{
    font-family: "Poppins", sans-serif;
}
.detail_box h5{
    font-weight: 700;
}
.child2 h2{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 1rem;
}
#carouselExampleControls img{
    width: 100%;
}
.parent{
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}
.parent> div{
    /* border: 2px solid yellow; */
}
.parent .child2{
    width: 40%;
    margin: 0 auto;
}
.parent .child2 a{
    list-style: none;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 12px 24px;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
}