#carouselExampleControls{
    width: 50vw;
    font-family: "Poppins", sans-serif;
}
#carouselExampleControls h1,h2, h3,h4, h5, h6{
    font-family: "Poppins", sans-serif;
}
#carouselExampleControls .carousel-inner{
    height: 80vh;
}
.bold{
    font-weight: 700;
}
#carouselExampleControls h1{
    margin-top: 0.5rem;
    font-size: 36px;
}
.detail_box{
    border: 1px solid rgb(209, 219, 227);
    margin-top: 2rem;
    padding: 1rem;
    width: 60%;
    margin-left: 5rem;
}
.detail_box2{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
   
}
.child2 h1,h2, h3,h4, h5, h6{
    font-family: "Poppins", sans-serif;
}

.detail_box h5{
    font-weight: 700;
    text-transform: capitalize;
}

.detail_box h6{
    text-transform: capitalize;
}


.child2 h2{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 1rem;
}
#carouselExampleControls img{
    width: 100%;
}
.parent{
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}
/* .parent> div{
    border: 2px solid yellow;
} */
.parent .child2{
    margin: 30px;
}
.parent .child2 a{
    list-style: none;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 12px 24px;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
}

.child1, .child2{
    flex: 1;
}



@media screen and (max-width: 1024px) {
    .parent{
        flex-direction: column;
    }

    #carouselExampleControls {
        height: 20vh; /* Set a fixed height for the carousel */
      }
      
    #carouselExampleControls .carousel-inner{
        height: 100%;
    }
    .carousel-item img {
        height: 100%; /* Make the image take the full height of the carousel item */
        object-fit: cover; /* Ensure the image covers the carousel item without distortion */
      }

    .detail_box{
        width: 65%;
    }
    .d-block{
        height: 100%;
    }

    .second{
        align-items: center;
        display: flex;
        flex-direction: column;
    }

}
 @media screen and (max-width: 600px) {
    .parent{
        flex-direction: column;
    }

    #carouselExampleControls {
        height: 20vh; /* Set a fixed height for the carousel */
    }

    #carouselExampleControls .carousel-inner{
        height: 100%;
    }

    .carousel-item img {
        height: 100%; /* Make the image take the full height of the carousel item */
        object-fit: cover; /* Ensure the image covers the carousel item without distortion */
    }

    .detail_box{
        width: 65%;
    }

    .detail_box2{
        display: flex;
        flex-direction: column;

    }
} 

/* For medium screens (tablets, etc.) */
@media screen and (max-width: 1024px) {
    .detail_box {
        width: 70%;
        margin-left: 2rem;
    }
    .detail_box2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For small screens (large smartphones, etc.) */
@media screen and (max-width: 768px) {
    .detail_box {
        width: 80%;
        margin-left: 1rem;
    }
    .detail_box2 {
        grid-template-columns: 1fr;
    }
}

/* For extra small screens (small smartphones, etc.) */
@media screen and (max-width: 600px) {
    .detail_box {
        width: 90%;
        margin: 0 auto; /* Center the box */
    }
    .detail_box2 {
        grid-template-columns: 1fr; /* Single column layout */
    }
    .detail_box h1, .detail_box h5, .detail_box h3, .detail_box h6 {
        text-align: center; /* Center align text */
    }

    #carouselExampleControls {
        width: 90vw;
    }
}
