#carbox{
    background-color:#E8EAF2;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    /* border: 2px solid black; */
    height: 400px;
}
#carbox .cari {
    background-position: center;
    background-size: cover; 
    width: 93%;
    margin: 0 auto;
    margin-top: 0.6rem;
    border-radius: 16px;
    height: 50%; 
}

#carbox .cari img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#carbox .card{
    background-color:#E8EAF2;
    border: none;
    width: 95%;
    margin: 0 auto;
    height: 50%; 
}
#carbox h4{
    font-family: "Poppins", sans-serif;
    margin-top: 1rem;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
}
#carbox .redtext{
    font-family: "Poppins", sans-serif;
    color: #d81521;
    font-weight: 600;
    text-align: center;
}
#carbox .row{
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
#carbox .row h6{
    font-family: "Poppins", sans-serif;
}
#carbox .row .column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#carbox .bold{
    font-weight: bold;
}
#carbox .car_details{
    list-style: none;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 20px;
    font-size: small;
}